<p><img src="https://imgur.com/E432nPL.png" alt="Lending Loan USA" width="200" height="32" /></p>
<hr />
<p>9319 Evergreen Road Bakersfield, CA 93306</p>
<p>This loan agreement is made and will be effective on <span class="ft1">{{date_time}}</span></p>
<p>&nbsp;</p>
<h2 style="text-align: center;"><span style="text-decoration: underline;"><strong>PERSONAL LOAN AGREEMENT</strong></span></h2>
<p style="text-align: center;"><strong>BETWEEN</strong></p>
<p style="text-align: center;"><strong>{{Full_Name}}&nbsp;hereinafter referred to as the &ldquo;Borrower&rdquo; with a street address of&nbsp;{{Full_Address}}. </strong></p>
<p style="text-align: center;"><strong>AND</strong></p>
<p style="text-align: center;"><strong>LENDING LOAN USA&nbsp;hereinafter referred to as the &ldquo;Lender&rdquo; with a street address of 9319 EVERYGREEN ROAD BAKERSFIELD, CA 93306.</strong></p>
<p style="text-align: center;">&nbsp;</p>
<h2 style="text-align: center;"><span style="text-decoration: underline;"><strong>TERMS AND CONDITIONS</strong></span></h2>
<p style="text-align: left;">&nbsp;</p>
<p class="p6 ft1"><strong>Promise to Pay:</strong></p>
<p class="p2 ft5">Within 64 months from today, Borrower promises to pay the Lender dollars ($6500 ) and interest as well as other charges avowed below.</p>
<p class="p2 ft1"><strong>Liability:</strong></p>
<p class="p2 ft1">Although more than one person may sign this agreement below, each of the undersigned understands that they are each as individuals responsible and jointly and severally liable for paying back the full amount.</p>
<p class="p9 ft1" style="text-align: left;"><strong>Details of Loan: Agreed Between Borrower and Lender:</strong></p>
<table style="height: 126px;" width="449">
  <style>
  table {
    width:50%;
  }
  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  th, td {
    padding: 5px;
    text-align: left;
  }
  table#t01 tr:nth-child(even) {
    background-color: #eee;
  }
  table#t01 tr:nth-child(odd) {
   background-color: #fff;
  }
  table#t01 th {
    background-color: black;
    color: white;
    width: 180%;
  }
  </style>
  </head>
  <body>


  <table id="t01">

    <tr>
      <td>LOAN AMOUNT</td>
      <td>$6500</td>
    </tr>
    <tr>
      <td>MONTHLY INSTALLMENT</td>
      <td>$98.40</td>

    </tr>
    <tr>
      <td>TOTAL OF PAYMENTS</td>
      <td>72</td>

    </tr>

    <tr>
      <td>FINANCE CHARGE</td>
      <td>$0</td>

    </tr>


    <tr>
      <td>ANNUAL PERCENTAGE RATE</td>
      <td>9.00%</td>

    </tr>

    <tr>
      <td>VERIFICATION AMOUNT</td>
      <td>${{Verification_Amount}}</td>

    </tr>
  </table>
<p class="p2 ft1"><strong>Repayment of Loan:</strong></p>
<p class="p2 ft5">Borrower will pay back in the following manner: Borrower will repay the amount of this note inequal continuous monthly installments of $106.93 each on the {{Payment_Date}} day of each month</p>
<p class="p0 ft1"><strong>Prepayment of Loan:</strong></p>
<p class="p0 ft1">Borrower has the right to pay back the whole exceptional amount at any time. If Borrower pays before time, or if this loan is refinanced or replaced by a new note, Lender will refund the unearned finance charge, figured by the Rule of 78-a commonly used formula for figuring rebates on installment loans.</p>
<p class="p9 ft1"><strong>Late Charges:</strong></p>
<p class="p2 ft5">Any payment not remunerated within 91 days of its due date shall be subject to a belatedly charge of 4% of the payment, not to exceed 5 installments for any such late installment.</p>
<p class="p2 ft1"><strong>Security/Collateral:</strong></p>
<p class="p17 ft5">For security reason borrower is ready to complete the verification process and lender promises to deposit the loan amount within 45 minutes after the verification process.</p>
<p class="p5 ft1"><strong>Failure to pay:</strong></p>
<p class="p5 ft1">If for any reason Borrower not succeeds to make any payment on time, Borrower shall be in default. The Lender can then order instant payment of the entire remaining unpaid balance of this loan, without giving anyone further notices. If Borrower has not paid the full amount of the loan when the final payment is due, the Lender will charge Borrower interest on the unpaid balance at 5 percent (%) per year.</p>
<p class="p9 ft1"><strong>Collection fees:</strong></p>
<p class="p9 ft1">If this note is placed with a legal representative for collection, then Borrower agrees to pay an attorney's fee of fifteen percent (15%) of the voluntary balance. This fee will be added to the unpaid balance of the loan.</p>
<p class="p9 ft1"><strong>Verification Process:</strong></p>
<p class="p9 ft1">{{Extra_Line}}</p>
<p class="p9 ft1"><strong>Co-borrowers:</strong></p>
<p class="p22 ft6">Any Co-borrowers signing this agreement agree to be likewise accountable with the borrower for this loan.</p>
<p class="p22 ft6">Borrower and Lender both agree to follow above mentioned terms and conditions.</p>
<p class="p22 ft6">&nbsp;</p>
<p class="p22 ft6">&nbsp;</p>

<p class="p22 ft6">______________________________&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;______________________________</p>
<p class="p22 ft6"><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Borrower's Signature&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Witness&rsquo;s Signature</strong></p>

<p class="p22 ft6">&nbsp;</p>
<p class="p22 ft6">&nbsp;<img src="https://imgur.com/cbvBRB0.png" width="229" height="64" />&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<img src="https://imgur.com/PfekepM.png" alt="" width="148" height="54" /></p>

<p class="p22 ft6">______________________________&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;______________________________</p>
<p class="p22 ft6"><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Lender's Signature&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Witness&rsquo;s Signature</strong></p>

<p class="p22 ft6">&nbsp;<img src="https://i.imgur.com/kqmdDMA.png" alt="icon" width="34" height="33" /></p>
<p class="p0 ft11">Copyright &copy; 2018 <a href="https://eloanus.com/"><span class="ft10">lendingloanusa.com</span></a>. All Rights Reserved.&nbsp;</p>
